@layer base {
  @import "tailwindcss";

  @theme {
    --color-primary: #d5f6e5;
    --color-background: #171717;
    --color-foregroundyellow: #e6f58e;
    --color-secondary: #d4d4d4;
    --color-grayc: #2f2f2f;
    --color-btn-bg: #262626;

    --color-chatgreen: #d5f6e5;
    --color-btn-green: #e7f68f;
    --color-chatlightgreen: #f4fdf8;
    --color-chatyellow: #e7f68f;
  }
}

.custom-scroll::-webkit-scrollbar {
  width: 8px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #e7f68f;
  border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #65a30d;
}
